
    <h1>SpeakBk Login</h1>
    <div class="SpeakBk-login box box--bi">
      <!-- form inicia aqui -->
      <form action="#" method="post">
        <img src="images/icon.png" alt="" />
        <div class="agile-field-txt">
          <label>
            <i class="fa fa-user" aria-hidden="true"></i> Nombre de usuario</label>
          <input type="text" name="name" placeholder=" " required="" />
        </div>
        <div class="agile-field-txt">
          <label>
            <i class="fa fa-lock" aria-hidden="true"></i> Contraseña</label>
          <input type="password" name="password" placeholder=" " required="" id="myInput" />
          <div class="agile_label">
            <input id="check3" name="check3" type="checkbox" value="show password" onclick="myFunction()">
            <label class="check" for="check3">Mostrar contraseña</label>
          </div>
          <div class="agile-right">
            <a href="olvide">Olvide mi contraseña</a>
            <br>
            <a href="registro">Crear una cuenta</a>
          </div>
        </div>
        <!-- script para mostrar contraseña -->
        <script>
          function myFunction() {
            var x = document.getElementById("myInput");
            if (x.type === "password") {
              x.type = "text";
            } else {
              x.type = "password";
            }
          }
        </script>
        <!-- //fin del script -->
        <div class="SpeakBk-bot">
          <div class="switch-agileits">
            <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
              Mantener sesion iniciada
            </label>
          </div>
          <input type="submit" value="Iniciar Sesion">
        </div>
        <div class="SpeakBkFB-bot">
          <input type="submit" value="Conectar con Facebook">
        </div>
        </form>
      </div>
        <!-- //form termina aqui -->
        <!--copyright-->
        <div class="SpeakBk-Copy">
        <p>© 2018 SpeakBk. All Rights Reserved | Design by
        <a href="http://ww.unmsm.com/" target="_blank">SpeakBk Team</a>
        </p>
        </div>
        <!--//copyright-->
