<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <a class="navbar-brand" href="#">SpeakBk</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="tarjetas">Tarjetas <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="chat">chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="transacciones">Transacciones</a>
      </li>


    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
      <button class="btn  my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>


    <h1>TIPOS DE TARJETAS</h1>
    <div class="row">
      <div class="card SpeakBk-tarjeta" style="background-color: #3ef09f">
        <img src="#" alt="">
        <div class=" SpeakBk-Tarjeta-c">
          <h4>  TARJETA DE CREDITO</h4>
          <p> Es un instrumento material de indentificación, que puede ser una tarjeta de plastico </p>
          <p> con una banda magnetica, un microchip y un número en relieve. <a href="" target="_blank">Ver mas</a>
          </p>
        </div>
      </div>
      <div class=" card SpeakBk-tarjeta" style="background-color: #6ef4b7">
        <img src="#" alt="">
        <div class="SpeakBk-Tarjeta-c">
          <h4>  TARJETA DE DEBITO</h4>
          <p> Una tarjeta de débito es un medio para pagar cosas. Cuando usted abre una cuenta corriente o de cheques </p>
          <p> su banco o cooperativa de crédito le da una tarjeta de débito <a href="" target="_blank">Ver mas</a>
          </p>
        </div>
      </div>
      <div class=" card SpeakBk-tarjeta" style="background-color: #9ef7cf">
        <img src="#" alt="">
        <div class="SpeakBk-Tarjeta-c">
          <h4> CONSEJOS PARA MI PRIMERA TARJETA </h4>
          <p> Pago mínimoHay que ser consciente de cuánto cuestan los créditos. Muchas veces las personas, sobre todo los jóvenes, ven la cuota que están pagando, pero no cuánto cuesta el financiamiento. </p>
          <p>El típico problema es pagar el mínimo de la tarjeta de crédito. Hacerlo, significa que se pagará ese monto por meses e incluso años y a tasas de interés realmente altas. El joven tiene que ser consciente de lo que significa pagar el mínimo. <a href="" target="_blank">Ver mas</a>
          </p>
        </div>
      </div>
